APP_ENV=local
APP_PORT=8000
SEARCH_TOP_K=5

OPENAI_API_KEY=

DATABASE_URL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=

SPRING_API_BASE_URL=
INTERNAL_API_KEY=
